// DEVELOPED BY: Lucas Fonsceca dos Santos.
// GPL - General Public License v3.0
////////////////////////////////////////////////////////////////
// EASY ARCHITECTURE - A simple architecture script tool.
// www.github.com/LucasFonsecaDosSantos/Easy-Architecture
////////////////////////////////////////////////////////////////
//                                                            //
//                                                            //
//  _____                                                     //
// | ____|__ _ ___ _   _                                      //
// |  _| / _` / __| | | |                                     //
// | |__| (_| \__ \ |_| |                                     //
// |_____\__,_|___/\__, |                                     //
//     _           |___/   _ _            _                   //
//    / \   _ __ ___| |__ (_) |_ ___  ___| |_ _   _ _ __ ___  //
//   / _ \ | '__/ __| '_ \| | __/ _ \/ __| __| | | | '__/ _ \ //
//  / ___ \| | | (__| | | | | ||  __/ (__| |_| |_| | | |  __/ //
// /_/   \_\_|  \___|_| |_|_|\__\___|\___|\__|\__,_|_|  \___| //
//                                              Version 2.0.0 //
//                                                            //
// SCRIPT WRITTEN BY Lucas Fonseca dos Santos.                //
//                                                            //
////////////////////////////////////////////////////////////////
//                                                            //
// [PROJECT]:                                                 //
// Name:  <project_name>                                      //
// URL:   <project_url>                                       //
//                                                            //
// +--------------------------------------------------------+ //
//                                                            //
// [DEVELOPMENT]:                                             //
// Code Developer:  <project_name>                            //
// Designer:        <project_name>                            //
// Tester:          <project_name>                            //
// Code Developer:  <project_name>                            //
//                                                            //
// +--------------------------------------------------------+ //
////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////
//                    FILE INFORMATIONS:                      //
// +--------------------------------------------------------+ //
//                                                            //
// NAME: <file_name>                                          //
// BRIEF: <file_brief>                                        //
//                                                            //
////////////////////////////////////////////////////////////////
script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js", integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ", crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js", integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm", crossorigin="anonymous")
script(src="ext/js/core.js")