// DEVELOPED BY: Lucas Fonsceca dos Santos.
// GPL - General Public License v3.0
////////////////////////////////////////////////////////////////
// EASY ARCHITECTURE - A simple architecture script tool.
// www.github.com/LucasFonsecaDosSantos/Easy-Architecture
////////////////////////////////////////////////////////////////
//                                                            //
//                                                            //
//  _____                                                     //
// | ____|__ _ ___ _   _                                      //
// |  _| / _` / __| | | |                                     //
// | |__| (_| \__ \ |_| |                                     //
// |_____\__,_|___/\__, |                                     //
//     _           |___/   _ _            _                   //
//    / \   _ __ ___| |__ (_) |_ ___  ___| |_ _   _ _ __ ___  //
//   / _ \ | '__/ __| '_ \| | __/ _ \/ __| __| | | | '__/ _ \ //
//  / ___ \| | | (__| | | | | ||  __/ (__| |_| |_| | | |  __/ //
// /_/   \_\_|  \___|_| |_|_|\__\___|\___|\__|\__,_|_|  \___| //
//                                              Version 2.0.0 //
//                                                            //
// SCRIPT WRITTEN BY Lucas Fonseca dos Santos.                //
//                                                            //
////////////////////////////////////////////////////////////////
//                                                            //
// [PROJECT]:                                                 //
// Name:  <project_name>                                      //
// URL:   <project_url>                                       //
//                                                            //
// +--------------------------------------------------------+ //
//                                                            //
// [DEVELOPMENT]:                                             //
// Code Developer:  <project_name>                            //
// Designer:        <project_name>                            //
// Tester:          <project_name>                            //
// Code Developer:  <project_name>                            //
//                                                            //
// +--------------------------------------------------------+ //
////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////
//                    FILE INFORMATIONS:                      //
// +--------------------------------------------------------+ //
//                                                            //
// NAME: <file_name>                                          //
// BRIEF: <file_brief>                                        //
//                                                            //
////////////////////////////////////////////////////////////////

mixin headerSettings(title,description,author,copyright,themeColor,language)
    title= title
    meta(charset="utf-8")
    meta(name="keywords", content="")
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="robot", content="index")
    meta(name="googlebot", content="index")
    meta(name="google", content="nositelinkscd searchbox")
    meta(name="author", content= author)
    meta(name= title)
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="revisit-after", content="7 days")
    meta(name="copyright", content= copyright)
    meta(name="rating", content="general")
    meta(name="distribution", content="global")
    meta(name="language", content= language)
    meta(http-equiv="content-language", content="pt-br")
    meta(name="MobileOptimized", content="320")
    meta(http-equiv="imagetoolbar", content="no")
    meta(http-equiv="content-script-type", content="text/javascript")
    meta(http-equiv="content-style-type", content="text/css")
    meta(name="DC.title", content= title)
    meta(name="DC.creator", content= author)
    meta(name="DC.creator.address", content="null")
    meta(name="DC.description", content= description)
    meta(name="DC.publisher", content= author)
    meta(name="DC.format", content="text/html")
    meta(itemprop="name", content= title)
    meta(itemprop="description", content= description)
    meta(itemprop="image", content="")
    meta(name="theme-color", content= themeColor)
    meta(name="msapplication-TileColor", content= themeColor)
    meta(name="msapplication-TileImage", content="img/favicon/ms-icon-144x144.png")