section#index03
    .container
        .row
            .index03__sub
                img(src="img/content/model.png")
            .index03__sub
                .section__title
                    h2.white-text mas quem sou eu afinal?
                    p. 
                        Meu nome é Taynara Dias, nasci em Congonhas, MG e hoje sou graduanda de Zootecnia
                        pela Universidade Federal de Lavras. Aos 20 anos descobri minha paixão pela arte
                        da maquiagem e beleza. Acredito que esta via pode ser um meio de alavancar o poder
                        feminino ao mesmo tempo em que podemos elevar o sentimento de bem estar consigo mesmo.