section#index01
    .row
        .index01__sub
            img(src="img/structure/default-img.gif")
        .index01__sub
            img(src="img/structure/default-img.gif")
    .row
        .index01__sub
            img(src="img/structure/default-img.gif")
        .index01__sub
            img(src="img/structure/default-img.gif")