// DEVELOPED BY: Lucas Fonsceca dos Santos.
// GPL - General Public License v3.0
////////////////////////////////////////////////////////////////
// EASY ARCHITECTURE - A simple architecture script tool.
// www.github.com/LucasFonsecaDosSantos/Easy-Architecture
////////////////////////////////////////////////////////////////
//                                                            //
//                                                            //
//  _____                                                     //
// | ____|__ _ ___ _   _                                      //
// |  _| / _` / __| | | |                                     //
// | |__| (_| \__ \ |_| |                                     //
// |_____\__,_|___/\__, |                                     //
//     _           |___/   _ _            _                   //
//    / \   _ __ ___| |__ (_) |_ ___  ___| |_ _   _ _ __ ___  //
//   / _ \ | '__/ __| '_ \| | __/ _ \/ __| __| | | | '__/ _ \ //
//  / ___ \| | | (__| | | | | ||  __/ (__| |_| |_| | | |  __/ //
// /_/   \_\_|  \___|_| |_|_|\__\___|\___|\__|\__,_|_|  \___| //
//                                              Version 2.0.0 //
//                                                            //
// SCRIPT WRITTEN BY Lucas Fonseca dos Santos.                //
//                                                            //
////////////////////////////////////////////////////////////////
//                                                            //
// [PROJECT]:                                                 //
// Name:  <project_name>                                      //
// URL:   <project_url>                                       //
//                                                            //
// +--------------------------------------------------------+ //
//                                                            //
// [DEVELOPMENT]:                                             //
// Code Developer:  <project_name>                            //
// Designer:        <project_name>                            //
// Tester:          <project_name>                            //
// Code Developer:  <project_name>                            //
//                                                            //
// +--------------------------------------------------------+ //
////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////
//                    FILE INFORMATIONS:                      //
// +--------------------------------------------------------+ //
//                                                            //
// NAME: <file_name>                                          //
// BRIEF: <file_brief>                                        //
//                                                            //
////////////////////////////////////////////////////////////////

nav.navbar.navbar-dark.menu.fixed-top.navbar-expand-md.navbar-expand-lg.navbar-expand-xl
    .container
        a.navbar-brand(href="/")
            //img(src="/img/logo02.svg")
            p tay dias
        button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarNavDropdown", aria-controls="navbarNavDropdown", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNavDropdown
            ul.navbar-nav.mr-0.ml-auto(style="float: right")
                li.nav-item.active
                    a.nav-link(href="/", alt="Link para seção inicial.", title="Clique para retornar a página inicial.") inicio
                li.nav-item
                    a.nav-link(href="#index01", alt="Link para a galeria de trabalhos.", title="Clique para acessar a página de imóveis.") trabalhos
                li.nav-item
                    a.nav-link(href="/", alt="Link para a página de contratos.", title="Clique para acessar a página de contratos.") marque seu horário
                li.nav-item
                    a.nav-link(href="/", alt="Link para a página de contratos.", title="Clique para acessar a página de imobiliárias.") minha história
                li.nav-item
                    a.nav-link(href="/", alt="Link para a página de contratos.", title="Clique para acessar a página de imobiliárias.") contato

.container
    .header__body
        .header__bodyContent
            .row
                .header__bodyContent_sub
                    h1 expresse concepções através da make
                .header__bodyContent_sub
        .header__bodyNav
            a(href="#index01")
                i.material-icons expand_more